// stylelint-disable selector-class-pattern

// Configuration

@import "./vendors/vendors";

//
// Tools
//

@import "./tools/tools";

//
// Settings
//

@import "./settings/settings";

//
// Placeholders
//

@import "./settings/placeholders/general";
@import "./settings/placeholders/prefers-reduced-motion";
@import "./settings/placeholders/typography/heading";
@import "./settings/placeholders/layout";

@import "./project/sidebar";
@import "./project/table-detail";
@import "./project/table-block";
@import "./project/badge";
@import "./project/tabs";

.arrow-up {
  position: relative;
  @include before {
    content: "";
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translate(50%);
    @include triangle(top, 10px, $control-feedback-background);
  }
}

header {
  top: 0;
  @include transition(left .4s ease-in-out, right .4s ease-in-out, top 1s ease-in-out);

  .headroom--unpinned & {
    top: -100%;
  }

  .sidebar_link_text {
    opacity: 1;
  }
}

footer {
  bottom: 0;
  @include transition(left .4s ease-in-out, right .4s ease-in-out, bottom 1s ease-in-out);

  .headroom--unpinned & {
    bottom: -100%;
  }
}

select.input:disabled {
  background-image: none;
}
