.badge {
  background-color: $dark;
  @include fontsize(.75rem);

  @each $color, $value in $theme-colors {
    &.is-#{$color} {
      color: clr-step($value, 1);
      background-color: clr-step($value, -8);
    }
  }
}
