.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  margin: .1em;
  border-radius: $borderradius-normal;
  background-color: $light;
  white-space: nowrap;

  @each $color, $value in $theme-colors {
    &.is-#{$color} {
      color: clr-step($value, 1);
      background-color: clr-step($value, -8);
    }
  }
}
