// left sidebar
.sidebar-hidden {
  // stylelint-disable-next-line declaration-no-important
  padding-left: 0 !important;

  header {
    left: 0;
  }

  footer {
    left: 0;
  }

  .header-sidebar-block {
    display: none;
  }
}

// right sidebar
.lyt-sidebar {
  > .lyt-sidebar-toggle {
    left: -100vw;
    transform: translate(-50%, -50%);
    margin-left: 100%;
    @include transition(margin-left .5s ease-in-out, left .5s ease-in-out, transform .5s ease-in-out)
  }

  &.active > .lyt-sidebar-toggle {
    left: 0;
    transform: translate(-50%, -50%) rotate(180deg);
    margin-left: 0;
  }
}
