/*
  Details
*/

.detail {
  padding: .75rem;

  .name {
    margin-bottom: .75rem;
    color: #697a8f;
    @include fontsize(.75rem);
    font-weight: 500;
  }

  .value {
    @include fontsize(.875rem);
  }
}

.details-hr {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @include after {
    content: "";
    position: absolute;
    right: 2rem;
    bottom: 0;
    left: 2rem;
    height: 1px;
    background-color: rgba(191, 197, 210, .3);
  }

  @include media-breakpoint-below(xl) {
    .details-hr {
      padding-bottom: 24px;
      margin-bottom: 24px;

      @include after {
        right: 24px;
        left: 24px;
      }
    }
  }
}
